* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 10px 0px 10px 0px;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: normal;
  font-size: 36px;
  background-color: lightblue;
  padding:5px 5px 5px 50px;
  margin: 7px 0;

}

header a {

  padding: 10% right;
  text-decoration: none;
  
}

header nav {
  margin-top: 30px;
  text-align: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
 
}

header nav ul li a {

  padding: 20px;
  font-size: 1.55vw;
  color: lightblue;
  text-decoration: underline 3px;
  align-items: center;
}

.cool-subtitle-here{
  background-image: url("../images/subtitle.jpg");
  background-size:cover;
  background-position: 80%;
  padding: 100px 70px;
}

#subtitle{
  display: flex;
  background-color: lightblue;
  font-size: 40px;  
  float:right;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 5px;
}


/* HEADER / NAVBAR STYLES END */
main{
  width: 100%;
  margin: 5% 0;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutme{

  display:flex;

  
}


.aboutme-title {
  color: blue;
  float:left;
  font-size: 30px;
  text-align: right;
  padding: 20px 20px 20px 72px;
  
}

.aboutme-text{
  display: flex;
  padding: 0px 100px 20px 30px;
  line-height: 1.6;
  border-left: 4px solid rgb(62, 7, 99);
}

.work-section{
 
  padding: 20px;
  
}
.works{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.work-title{
  color: blue;
  float:left;
  font-size: 30px;
  text-align: right;
  padding: 20px 20px 20px 70px;
  
 
  
}

.work-title h1{

  
 
}
.work-content{
  
  flex-wrap: wrap;
  flex-grow: 2;

  border-left: 4px solid rgb(62, 7, 99);
  
  padding: 0px 20px 20px 20px;
  
  
}

.surf{
  border: 2mm solid lightblue;
  background-image: url("../images/surf.jpg");
  background-size:cover;
 
  padding: 100px 70px;
  margin:40px;

}
 .surfposition{
   background-color: lightblue;
   padding: 20px;
    float:left;
    
 }

.row4{
  
}

.row2{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.led{
  border: 2mm solid lightblue;
  background-image: url("../images/led.jpg");
  background-size: cover;

  padding: 100px 70px;
  margin:40px;
  flex-grow: 1;
  
  
}

.calculator{
  border: 2mm solid lightblue;
  background-image: url("../images/calculator.jpg");
  background-size: cover;
  padding: 100px 70px;
  margin:40px;
  flex-grow: 1;
  
}


.pastel{
  border: 2mm solid lightblue;
  background-image: url("../images/pastel.jpg");
  background-size: cover;
  
  padding: 100px 70px;
  margin:40px;
  flex-grow: 1;
}

.run{
  border: 2mm solid lightblue;
  background-image: url("../images/run.jpg"); 
  background-size: cover;


  padding: 100px 70px;
  margin:40px;
  flex-grow: 1;
}





.contact-section{
  padding-top: 20px;
 
  
}
.contact-section h1{
  color: blue;
  float:left;
  font-size: 30px;
  text-align: right;
  padding: 20px 20px 20px 90px;
  
}

.contact-buttons{
 display: flex;
 flex-wrap: wrap;
  font-size:23px;

  padding: 15px 100px 15px 30px;
 
  border-left: 4px solid rgb(62, 7, 99);
  justify-content: space-around;

  
}
.contact-buttons a{
  text-decoration: none;
  
  
 
}


.tel{
  
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.email{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.github{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.twitter{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.spotify{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}


.resume-section{
  display: flex;
  flex-wrap: wrap;
  border: 10px;
  padding:10px;
  margin:20px;
 
}