* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 10px 0px 10px 0px;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: normal;
  font-size: 36px;
  background-color: lightblue;
  padding:5px 5px 5px 50px;
  margin: 7px 0;

}

header a {

  padding: 10% right;
  text-decoration: none;

}

header nav {
  margin:15px 0px 15px 0px;
  text-align: center;
  padding-right: 70px;

}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
 
}

header nav ul li{
  padding: 20px 5px 5px 20px;
  
}

header nav ul li a {


  font-size: 1.55vw;
  color: lightblue;
  
  align-items: center;
  border-bottom: 4px solid lightblue;
  padding: 10px 10px 3px 10px;
 
}

.cool-subtitle-here{
  background-image: url("../images/subtitle.jpg");
  background-size:cover;
  background-position: 80%;
  padding: 100px 70px;
}

#subtitle{
  display: flex;
  background-color: lightblue;
  font-size: 40px;  
  float:right;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 5px;
}


/* HEADER / NAVBAR STYLES END */
main{
  width: 100%;
  margin: 5% 0;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutme{

  display:flex;

  
}


.aboutme-title {
width: 1px;
  
}
.aboutme-title h1{
  color: rgb(75, 72, 72);
  float:left;
  font-size: 40px;
  text-align: right;
  padding: 20px 20px 20px 72px;
}

.aboutme-text{
  display: flex;
  padding: 0px 100px 20px 30px;
  line-height: 1.6;
  border-left: 4px solid rgb(62, 7, 99);
}

.work-section{
 
  padding: 20px;
  
}
.works{
  display: flex;
  width: 100%;
}

.work-title{

  
 
  
}

.work-title h1{

  color:rgb(75, 72, 72);
  float:left;
  font-size: 40px;
  text-align: right;
  padding: 20px 20px 20px 70px;
 
}
.work-content{
  
flex-wrap: wrap;
flex-grow: 1;

  border-left: 4px solid rgb(62, 7, 99);
  
  padding: 0px 20px 20px 20px;
 
  
  
}

.surf{
  border: 10px solid lightblue;
  background-image: url("../images/surf.jpg");
  background-size:cover;

  margin:10px;
  height: 600px;
  opacity: 0.5;
}
.surf:hover{
  opacity: 1;
}
.surf-position{
   background-color: lightblue;
   padding: 10px;
    position:relative;
    top:470px;
    float: left;
}
.surf-position h3{
  font-size: 30px;
  font-weight: 500;
  
}
.surf-text{
  font-weight: 100;
  margin-top: 10px;
  
}
.row4{

}

.row2{
  display: flex;
  flex-wrap: wrap;

}

.led-image{

  position:relative;
  opacity: 0.5;
  flex-grow: 1;
  
}
.led-image:hover{
  opacity: 1;
}
.led{
  border: 10px solid lightblue;
  background-image: url("../images/led.jpg");
  background-size: cover;
  margin: 10px;
  flex-grow: 1;
  height: 250px;
  padding-right: 90px;
}
.led-position{
  background-color: lightblue;
  padding: 10px;
   position:relative;
   top:120px;
   float: left;
   
   
}
.led-position h3{
 font-size: 30px;
 font-weight: 500;
 
 
}
.led-text{
 font-weight: 100;
 margin-top: 10px;
 
 
}

.calculator-image{

  opacity: 0.5;
  flex-grow: 1;
  
}

.calculator-image:hover{
  opacity: 1;
}
.calculator{
  border: 10px solid lightblue;
  background-image: url("../images/calculator.jpg");
  background-size: cover;
  height: 250px;
  padding-right: 50px;
  margin: 10px;
  
  
}
.calculator-position{
  background-color: lightblue;
  padding: 10px;
   position:relative;
   top:120px;
   float: left;
}
.calculator-position h3{
 font-size: 30px;
 font-weight: 500;
 
}
.calculator-text{
 font-weight: 100;
 margin-top: 10px;
 
}


.pastel-image{
  position:relative;
  opacity: 0.5;
  flex-grow: 1;
  
}

.pastel-image:hover{
  opacity: 1;
}

.pastel{
  border: 10px solid lightblue;
  background-image: url("../images/pastel.jpg");
  background-size: cover;
  

  margin: 10px;

  height: 250px;
 
  flex-grow: 1;
}

.pastel-position{
  background-color: lightblue;
  padding: 10px;
   position:relative;
   top:120px;
   float: left;
}
.pastel-position h3{
 font-size: 30px;
 font-weight: 500;
 
}
.pastel-text{
 font-weight: 100;
 margin-top: 10px;
 
}

.run-image{
position: relative;
  opacity: 0.5;
  flex-grow: 1;
  
}

.run-image:hover{
  opacity: 1;
}
.run{
  border: 10px solid lightblue;
  background-image: url("../images/run.jpg"); 
  background-size: cover;
  margin: 10px;
  
  height: 250px;
  padding-right: 50px;
 
  flex-grow: 1;
}

.run-position{
  background-color: lightblue;
  padding: 10px;
   position:relative;
   top:120px;
   float: left;
}
.run-position h3{
 font-size: 30px;
 font-weight: 500;
 
}
.run-text{
 font-weight: 100;
 margin-top: 10px;
 
}



.contact-section{
  
  flex-wrap: wrap;
  
}
.contact-title{
  width: 1px;
}
.contact-title h1{
  color: rgb(75, 72, 72);
  float:left;
  font-size: 40px;
  text-align: right;
  padding: 0px 20px 20px 40px;
  
}

.contact-buttons{
 display: flex;
 flex-wrap: wrap;
  font-size:23px;

  padding: 15px 100px 15px 30px;
 
  border-left: 4px solid rgb(62, 7, 99);
  justify-content: space-around;

  
}
.contact-buttons a{
  text-decoration: none;
  
  
 
}


.tel{
  
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.email{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.github{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.twitter{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}
.spotify{
  margin: 10px 10px 10px 10px;
  border-bottom: 4px solid rgb(62, 7, 99);
  padding: 8px;
  
}

@media only screen and (max-width: 600px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

.about-me{
  display:grid;
align-content:center;

}
.aboutme-title{
  width: 100%;
}
.aboutme-text{
  border:none;
  border-top:4px solid darkslategray;
}
.aboutme-title h1{

flex-wrap: nowrap;

}
.works{
  display:grid;
  align-content:center;
}
.work-content{
  border:none;
  border-top:4px  solid darkslategray;
}
.row2{
  flex-direction: column;
}

.contact-section{
  display:grid;
  align-content:center;
}
.contact-title{
  width: 100%;
}
.contact-buttons{
  border:none;
  border-top:4px solid darkslategray;
  flex-direction: column;
}

