* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
padding: 10px 0px 10px 0px;
  background-color: darkslategray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: normal;
  font-size: 36px;
  background-color: lightblue;
  padding:5px 5px 5px 50px;
  margin: 7px 0;

}

header a {

  padding: 10% right;
  text-decoration: none;
  
}

header nav {
  margin-top: 30px;
  text-align: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
 
}

header nav ul li a {

  padding: 20px;
  font-size: 1.55vw;
  color: lightblue;
  text-decoration: underline 3px;
  align-items: center;
}

.cool-subtitle-here{
  background-image: url("../images/subtitle.jpg");
  background-size:cover;
  background-position: 80%;
  padding: 100px 70px;
}

#subtitle{
  display: flex;
  background-color: lightblue;
  font-size: 40px;  
  float:right;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 5px;
}


/* HEADER / NAVBAR STYLES END */
main{
  width: 100%;
  margin: 5% 0;
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}

.aboutme{
  margin: 20px;
  display:flex;
  border: 10px;
  background-color: yellow;
}


.aboutme-title {
  color:red;
  float:left;
  flex-wrap: wrap;
  border-right: 2px solid black;
  align-items: stretch;
}

.aboutme-text{
  display: flex;
  padding: 0px 20px 20px 20px;
  line-height: 1.6;
}

.work-section{
  display: flex;
  border: 10px;
  padding:10px;
  margin:20px;
  background-color: yellow;
}
.works{
  display: flex;
  width: 100%;
}


.work-title h1{
  color:green;
  
  flex-grow: 1;
  width: 100%;
}
.work-content{
  /*display:flex;*/
  flex-wrap: wrap;
  padding: 10px;
  flex-grow: 3;
  border-left: 2px solid black;
}

.surf{
  border: 2mm solid lightblue;
  background-image: url("../images/surf.jpg");
  background-size: cover;
  background-position: 80%;
  padding: 100px 70px;
  margin:40px;

}
.row2{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.led{
  border: 2mm solid lightblue;
  background-image: url("../images/led.jpg");
  background-size: cover;
  background-position: 80%;
  padding: 100px 70px;
  margin:40px;
  flex-grow:1;
  
  
}

.calculator{
  border: 2mm solid lightblue;
  background-image: url("../images/calculator.jpg");
  background-size: cover;

  background-position: 80%;
  padding: 100px 70px;
  margin:40px;
  flex-grow:1;
  
}


.pastel{
  border: 2mm solid lightblue;
  background-image: url("../images/pastel.jpg");
  background-size: cover;

  background-position: 80%;
  padding: 100px 70px;
  margin:40px;
}

.run{
  border: 2mm solid lightblue;
  background-image: url("../images/run.jpg"); 
  background-size: cover;

  background-position: 80%;
  padding: 100px 70px;
  margin:40px;

}





.contact-section{
  display: inline-flex;
  border: 10px;
  padding:10px;
  margin:20px;
  background-color: yellow;
}
.contact-section h1{
  color:purple;
  border-right: 2px solid black;

}

.contact-button a{
  text-decoration: underline 3px;
}

.resume-section{
  display: flex;
  border: 10px;
  padding:10px;
  margin:20px;
  background-color: yellow;
}